@page "/"
<style>
    body{
        background-image:url(./images/plants.png);
    }
</style>
<img src="./images/plants.png" style="width:100%;height:100%"/>
<h1 style="color:white;">Hello, Welcome ATADAN</h1>

<p style="color:white;">Have you tried this experience before?</p>

<SurveyPrompt Title="What is ATADAN? Check our website!" />
