@page "/login"
@using Atadan.Data;
@inject NavigationManager navMng;

<div class="allinside" >
    <img src="./images/logo.png" alt="logo" width="100" height="100" class="imageclass1" />
    <div class="container" >
        <form>
            <h1>Welcome!!</h1>
            <h3>Sign In</h3>
            <i class="fas fa-user-circle" aria-hidden="true" style="font-size:40px; color:green; margin-left:100px;"></i>
            
            <div class="form-group">
                <input type="text" id="username" @bind-value="loginUser.UserName" name="username" placeholder="Username:" required>
            </div>

            <div class="form-group">
                <input type="password" id="password" @bind-value="loginUser.Password" name="password" placeholder="Password" required>
            </div>

            <button class="loginbutton" @onclick="LogIn">Submit</button>
            <a style="justify-content:center; display:flex; align-items:center" href="register">Sign Up</a>
        </form>

    </div>
</div>

@code{
    public User loginUser = new User();

    private void LogIn() {
        //var locator = Geolocation.GetLocationAsync();

        navMng.NavigateTo("/home");
    }

}