.allinside {
    margin-top: -35px;
    height: 100%;
    width: 115%;
    margin-left: -25px;
    background-color: #bcf5cc;
    background-image: url(../wwwroot/images/plants.png);
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
