.allinside {
    height: 100%;
    width: 120%;
    margin-left: -25px;
    background-color: #bcf5cc;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imageclass1 {
    margin-top: 40px;
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #44e36e;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    form {
        max-width: 300px;
    }
}
