.allinside[b-u98dazmwfz] {
    height: 100%;
    width: 120%;
    margin-left: -25px;
    background-color: #bcf5cc;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

.container[b-u98dazmwfz] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.imageclass1[b-u98dazmwfz] {
    margin-top: 40px;
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageclass2[b-u98dazmwfz] {
    margin-left: 100px;
    color: green;
    margin-bottom: 20px;
}

form[b-u98dazmwfz] {
    margin-top: -390px;
    width: 100%;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1[b-u98dazmwfz] {
    text-align: center;
    margin-bottom: 1rem;
}

h3[b-u98dazmwfz] {
    text-align: center;
    margin-bottom: 1rem;
}

.form-group[b-u98dazmwfz] {
    margin-bottom: 1rem;
}

label[b-u98dazmwfz] {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"][b-u98dazmwfz],
input[type="email"][b-u98dazmwfz],
input[type="password"][b-u98dazmwfz] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
}

.loginbutton[b-u98dazmwfz] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #44e36e;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    form[b-u98dazmwfz] {
        max-width: 300px;
    }
}
