.allinside[b-v0yejl13fj] {
    margin-top: -35px;
    height: 100%;
    width: 115%;
    margin-left: -25px;
    background-color:#bcf5cc;
    background-image:url(../wwwroot/images/plants.png);
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

.container[b-v0yejl13fj] {
    position: relative;
    height: 80vh;
}

.photobutton[b-v0yejl13fj] {
    border-radius: 10px;
    background-color: paleturquoise;
}

.top-right[b-v0yejl13fj] {
    position: absolute;
    top: 0;
    right: 0;
}

.middle-center[b-v0yejl13fj] {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-center[b-v0yejl13fj] {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
}